*{
    margin: 0;
    padding: 0;
}

#cabecera{
    background-color: red;
    width: 100%;
    height: 100px;
    justify-items: center;
    align-content: center;
    font-size: 22px;
}

#lateral{
    background-color: grey;
    width: 25%;
    height: 25vh;
    float: right;
}

#central h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 30px;
}

#central p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#pie{
    background-color: green;
    height: 5vh;
    font-size: 25px;
    justify-items: center;
    text-align: center;
}