body{
    margin: 0;
    padding: 0;
}

h1{
    padding-left: 5px;
    font-size: 50px;
    color: red;
    border-bottom: 10px solid red;
}

table{
    color: red;
    margin-left: 7px;
    border: 3px dashed red;
    border-bottom: 5px solid red;
}

.especial input, textarea{
    border: 1px dashed red;
}

textarea {
    color: green;
    width: 100%;
    height: 60px; 
    box-sizing: border-box;
    padding-top: 40px; 
}

input[type="submit"]{
    color: green;
}

input[type="reset"]{
    color: green;
}