body{
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

h1{
    font-family: Cambria, Times, sans-serif;
    color: #1F497D;
    background-color: #BFBFBF;
    font-size: 24px;
    letter-spacing: 0.5em;
    word-spacing: 1.5em;
    text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
}

h2{
    font-family: Cambria, Times, sans-serif;
    color: #632423;
    font-size: 18px;
    letter-spacing: 0.5em;
    font-variant: small-caps;
    text-transform: uppercase;
}

ul{
    font-style: italic;
    font-weight: bold;
}

strong{
    font-weight: normal;
    text-transform: uppercase;
}