body{
    margin: 0;
    padding: 0;
}

#cabecera{
    background-color: red;
    height: 35vh;
}

#lateral{
    background-color: yellow;
    width: 20%;
    height: 40vh;
    float: left

}

#lateralderecho{
    background-color: gray;
    width: 20%;
    height: 40vh;
    float: right;
}

#principal{
    background-color: green;
    height: 40vh;
}

#pie{
    background-color: cyan;
    width: 100%;
    height: 24.3vh;
    margin-top: 5px;
}