#cabecera{
    background-color: red;
    width: 100%;
    height: 30vh;
}

#lateral{
    background-color: yellow;
    width: 20%;
    height: 30vh;
    float: inline-start;
}

#principal{
    background-color: gray;
    width: 70%;
    height: 35vh;
    float: left;
    margin-bottom: 10px;
}

#pie{
    background-color: turquoise;
    clear: both;
    width: 100%;
    height: 25vh;
}
