*{
    padding: 0;
    margin: 0;
}

#cabecera{
    background-color: green;
    width: 100%;
    height: 15vh;
}

#lateral{
    background-color: yellow;
    width: 10vw;
    height: 65vh;
    float: left;
}

#principal{
    background-color: brown;
    width: 100%;
    height: 65vh;
}

#pie{
    background-color: red;
    width: 100%;
    height: 20vh;
}